.el-table {
  font-size: 13px;
}

.el-table .cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
}

.el-table .cell .el-button--mini {
  padding: 5px 7px;
}

.el-table td, .el-table th {
  cursor: default;
  padding: 6px 0;
}

.el-table .cell, .el-table th div {
  padding-left: 5px;
  padding-right: 5px;
}

.pagination-container {
  margin-top: 30px;
  float: right;
}
